<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/show.css">
</head>

<body>
    <header>

    </header>
    <main>
        <div class="mobile-container">

            <div class="topnav">

                <a href="#home" class="active">Best Books!</a>
                <h3 id="searchForResult">Search result</h3>


                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>

        <div id="data">

            <%  savedBookKey.forEach(item=>{ %>

                <img src="<%= item.img %>">
                <br>

                <h3>
                    <%= item.title %>
                </h3>
                <br>
                <p>

                    <%= item.authors %>
                </p>
                <br>
                <p>
                    <%= item.description %>
                </p>

                <%     }); %>
                    <hr>
        </div>


    </main>
    <footer>

    </footer>
    <script>
        function myFunction() {
            var x = document.getElementById("formDiv");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>
</body>

</html>